# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# Python files
[*.py]
max_line_length = 88
indent_size = 4

# YAML files
[*.yml]
indent_size = 2

# TOML files
[*.toml]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false